        body {
            background-color: #f4f7f6; 
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }

        .nav-bar {
            background-color: #052442;
            width: 100%;
        }

        .navbar-brand {
            font-weight: bold;
            color: #ffffff !important;
        }

        .nav-link.header-link {
            color: #ffffff !important;
        }

        .text-custom {
            color: #004F9F;
        }

        .conteudo-box {
            background-color: #ffffff;
            border-radius: 12px;
            box-shadow: 0 4px 12px rgba(0,0,0,0.05);
            padding: 30px;
            margin-bottom: 30px;
            line-height: 1.6;
        }

        h2, h4 {
            color: #052442;
            padding-bottom: 10px;
        }

        .nav-pills {
            gap: 10px;
            margin-bottom: 25px;
        }

        .nav-pills .nav-link {
            color: #052442;
            font-weight: 600;
            border-radius: 8px;
            border: 1px solid #dee2e6;
            background-color: #ffffff;
            transition: all 0.3s ease;
        }

        .nav-pills .nav-link:hover {
            background-color: #e9ecef;
        }

        .nav-pills .nav-link.active {
            background-color: #004F9F;
            color: #ffffff;
            border-color: #004F9F;
            box-shadow: 0 4px 8px rgba(0, 79, 159, 0.3);
        }

        .botao {
            margin-top: 20px;
        }

        .btn-custom {
            background-color: #004F9F;
            color: white;
        }

        .btn-custom:hover {
            background-color: #052442;
            color: white;
        }

        footer {
            background-color: #fff;
            color: #052442;
            padding: 40px 0 20px 0;
            margin-top: 50px;
        }

        footer a {
            color: #020c1589;
            text-decoration: none;
            transition: color 0.3s;
        }

        footer a:hover {
            color: #052442;
        }
        
        footer h5 {
            color: #052442;
            margin-bottom: 15px;
            font-weight: bold;
        }