/* ===========================
   curso_detalhe.css - Páginas de Cursos Detalhados
   (ads, bsi, ccomp, eng_comp, eng_software, ciencia_dados, ia)
   =========================== */
 
body {
    padding-top: 70px;
}
 
.imagem {
    padding-top: 50px;
}
 
.botao {
    margin-top: 30px;
}
 
.corte {
    padding: 0 15px;
}
 